<%-include("header")-%>
<h2>this is about page of to do list</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam commodi maiores excepturi placeat sed facilis quibusdam temporibus qui dolores repudiandae debitis, iusto est reprehenderit numquam neque fugit quam sapiente dolorum inventore reiciendis fugiat totam.</p>
<%-include("footer")-%>